.vscode/
BraveSoftware/
KDE/
PlasmaDiscoverUpdates
Trolltech.conf
Unknown Organization/
VSCodium/
akonadi-firstrunrc
akonadi/
akonadi_contacts_resource_0rc
akonadi_ical_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
arkrc
baloofileinformationrc
baloofilerc
bluedevilglobalrc
dconf/
discoverrc
dolphinrc
dragonplayerrc
emaildefaults
emailidentities
gh/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
ibus/
kactivitymanagerd-statsrc
kactivitymanagerdrc
kalendaracrc
kcminputrc
kconf_updaterc
kde.org/
kdeconnect/
kded5rc
kded6rc
kdedefaults/
kdeglobals
kfontinstuirc
kglobalshortcutsrc
khelpcenterrc
knfsshare
konsolerc
konsolesshconfig
ktimezonedrc
kwalletmanagerrc
kwalletrc
kwinoutputconfig.json
kwinrc
libaccounts-glib/
libreoffice/
mimeapps.list
partitionmanagerrc
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmaparc
plasmashellrc
powermanagementprofilesrc
pulse/
session/
specialmailcollectionsrc
spectaclerc
systemd/
systemmonitorrc
trashrc
user-dirs.dirs
user-dirs.locale
xsettingsd/